aniso8601
bcrypt
cffi
click
dnspython
Flask
Flask-Bcrypt
Flask-JWT-Simple
flask-mongoengine
Flask-RESTful
Flask-WTF
gunicorn
itsdangerous
joblib
MarkupSafe
mongoengine
numpy
pycparser
PyJWT
pymongo
python-dotenv
pytz
scikit-learn
scipy
six
sklearn
threadpoolctl
Werkzeug
WTForms
