<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
    <app-main-page-card
      title="Find Hospital"
      description="Find hospitals"
      url="/hospitals"
      img="assets/images/hp.jpg"
    ></app-main-page-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <app-main-page-card
      title="Predict Disease"
      description="Find Disease"
      url="/disease"
      img="assets/images/de.jpg"
    >
    </app-main-page-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <app-main-page-card
      title="Open Appointment"
      description="See Open Appointments"
      url="/appointment/open"
      img="assets/images/md.jpg"
    ></app-main-page-card>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <app-main-page-card
      title="Closed Appointments"
      description="See Closed appointments"
      url="/appointment/closed"
      img="assets/images/ap.jpg"
    ></app-main-page-card>
  </div>
</div>
